@media (max-width:992px) {
    .nav__links {
      background-color: var(--color3);
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 150px;
      transition: 0.5s;
    }
    .nav__links.active {
        left: 0;
    }

    .nav__links a {
        color: var(--color2);
        font-weight: 900;
    }

    .nav__buttons {
        position: fixed;
        bottom: 100px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: 100%;
        transition: 0.5s;
    }

    .nav__buttons.active {
        left: 0%;
        
    }

    .hamburger {
        display: block;
    }

    .header__elements {
        flex-direction: column;
        align-items: center;
    }
    .header__info {
        text-align: center;
    }
    .statistic p {
        font-size: 24px;
    }
    .about-us__elements {
        flex-direction: column-reverse;
    }
    .about-us__info h2 {
        text-align: center;
    }
    .about-us__info > p {
        text-align: center;
    }
    .about-us__info {
        max-width: 520px;
    }
    .about-us__img {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
    }

    .sneakers-list {
        width: calc(100% + 40px);
        transform: translateX(-20px);
    }
    
    .new-models__list { 
        width: calc(100% + 40px);
        transform: translateX(-20px);
    }
}

@media (max-width: 500px) {
    .sneakers-card {
        width: calc(100vw - 60px);
    }
}
    