body {
    font-family: "Comfortaa", sans-serif;
    --color1: #313131;
    --color2: #FEFFF6;
    --color3: #828E42;
    --color4: #5C5C5C;
    --color5: #D5D79E;
    background-color: var(--color2);
    margin: 0;
    color: var(--color1);
}

nav {
    background-color: var(--color2);
    box-shadow: 0 0 20px 0 var(--color3);
    border-radius: 0 0 20px 20px;
    padding: 14px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    z-index: 5;
}
.nav__logo path {
    fill: var(--color3);
    transition: 0.5s;
}
.nav__logo.active path {
    fill: var(--color2);
}

.nav__links {
    display: flex;
    gap: 64px;
    z-index: 4;
}

.nav__links a {
    text-decoration: none;
    color: var(--color1);
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav__links a:hover {
    color: var(--color3);
}


.nav__buttons {
    display: flex;
    gap: 20px;
    z-index: 5;
}

.nav__buttons button {
    background: transparent;
    border: none;
    font-size: 20px;
    color: var(--color1);
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav__buttons button:hover {
    color: var(--color3);

}

.nav__buttons .user {
    font-size: 40px;
}
.hamburger {
    display: none;
    width: 40px;
    height: 20px;
    border: none;
    background: transparent;
    position: relative;
    z-index: 5;
}
.hamburger span {
    display: block;
    height: 2px;
    width: 40px;
    background-color: var(--color3);
    border-radius: 2px;
    left: 0;
    position: absolute;
    transition: 0.5s;
}
.hamburger span:nth-child(1) {
    top: 0;
    
}
.hamburger span:nth-child(2) {
    top: 9px;
}
.hamburger span:nth-child(3) {
    top: 18px;
}


.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.hamburger.active span {
    background-color: var(--color2);
}

header {
    padding-top: 100px;
    padding-bottom: 50px;
}

.header__elements {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.header__icon {
    width: 100%;
    max-width: 572px;
}
.header__icon img {
    width: 100%;
}
.header__info {
    max-width: 520px;
}
.header__elements h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 32px;

}
.text_green {
    color: var(--color3);
}
.header__info a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color3);
    border-radius: 40px;
    font-size: 20px;
    color: var(--color2);
    padding: 20px 45px;
    display: inline-block;
    border: 1px solid var(--color3);
    transition: all 0.3s ease;
    margin-bottom: 63px;
}
.header__info a:hover {
    background-color: var(--color2);
    color: var(--color3);
}

.header__info > p {
    line-height: 24px;
    font-size: 16px;
    margin: 0px 0px 56px 0px;
}
.statistic {
    display: inline flex;
    gap: 25px;
    
}
.statistic div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.statistic span {
    font-size: 32px;
    font-weight: bold;
    color: var(--color3);
}
.statistic p {
    font-size: 32px;
    font-weight: 100;
    color: var(--color4);
    margin: 0;
}
.raiting-cross {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.raiting-cross__number {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.raiting-cross__number span {
    font-size: 24px;
    font-weight: bold;
    color: var(--color4);
}
.raiting-cross__number hr {
    background-color: var(--color3);
    height: 40px;
    width: 1px;

}
.raiting-cross__number .stars {
    display: flex;
    gap: 8px;
    color: var(--color3);
    font-size: 24px;
}
.raiting-cross p {
    font-weight: 100;
    font-size: 24px;
    color: var(--color4);
    margin: 0;
}
